<%= form_for(@estreno) do |f| %>
  <% if @estreno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estreno.errors.count, "error") %> prohibited this estreno from being saved:</h2>

      <ul>
      <% @estreno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :nota %><br />
    <%= f.text_field :nota %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br />
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :iframe %><br />
    <%= f.text_area :iframe %>
  </div>
  <div class="field">
    <%= f.label :opcion1 %><br />
    <%= f.text_area :opcion1 %>
  </div>
  <div class="field">
    <%= f.label :opcion2 %><br />
    <%= f.text_area :opcion2 %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br />
    <%= f.text_field :imagen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
