<%= form_for @pelicula, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iframe, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iframe, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :imagen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :imagen, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :trailer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :trailer, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                peliculas_path, :class => 'btn' %>
  </div>
<% end %>
