<%- model_class = Pelicula -%>

<div class="row" id="principal">
	<div class="span8">
		<h3 id="ultimas"> Últimas Agregadas </h3>
    <% @peliculas.each do |pelicula| %>
      <div class="view view-first">
          <%= raw pelicula.imagen %>
          <div class="mask">
	          <h2><%= link_to "#{pelicula.titulo}", pelicula_path(pelicula) %></h2>	
	        </div>
      </div>
      <% end %>
    <div class="row">
    	<div class="span8">
    		<%= paginate @peliculas %>
    	</div>
    </div> 
  </div>


  <div class="span4" id="estrenos">
  	<div class="row" id="estreno">
  		<h2 id="ultimas"> Estreno Recomendado </h2>
  		<div class="span4">
  			<h1><%= link_to "#{@estreno.titulo}", estreno_path(@estreno) %></h1>
  			<img src="<%= raw @estreno.imagen %>">
  		</div>
  		<div class="span4">
  			<div id="descripcion_estreno"><%= @estreno.descripcion %></div>
  		</div>
  	</div>
  </div>
</div>

